@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;600&display=swap');
*{
    font-family: 'Josefin Slab', serif;
}
h1{
    display: flex;
    justify-content: center;
}

table{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

tr{
    height: 150px;
}
tr:nth-child(even){
    background-color: rgb(226, 226, 226);
}
td{
    width: 200px;
    border: 1px solid black;
}

.buttons{
    display: flex;
    justify-content: space-around;    
}

button{
    font-weight: bolder;
}